.container-h {
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 1220px;
  max-height: 105px;
  border-bottom: 1px solid #d3cbd9;
}
.header-container {
display: flex;
justify-content: space-between;
align-items: center;
}
.phone {
  text-align: right;
}
.phone p {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: #858e8a;
  padding-bottom: 8px;
}
.phone a {
  font-weight: 500;
  font-size: 18px;
  color: #2c332f;
  text-decoration: none;
  transition: color 0.2s;
}
.phone a:hover {
  color: #3596ED;
  
}