html {
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
section {
  margin-bottom: 140px;
}
.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.title-small {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
}
a {
  text-decoration: none;
}
a, button {
  outline: none;
}

a:focus-visible,
button:focus-visible,
summary:focus-visible {
  outline: 2px solid #3596ed;
  outline-offset: 1px;
}
